*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: #AD1519;
    background: -webkit-linear-gradient( to right, #E0115F, #AD1519 );
    background: linear-gradient( to right, #E0115F, #AD1519 ); 
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    border-radius: 15px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

li {
    padding: 6px;
}

.data-quotation {
    text-decoration: underline;
    text-transform: capitalize;
}
